{{ define "main" }}
<div class="container homepage-container py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 py-4 pl-0">
        <div class="card-primary">
          <div>
            <h1 class="font-weight-bold">{{ .Title }}</h1>
            <p class="semibold-text larger-text">
              {{ .Description }}
            </p>
          </div>
          <div class="try-free-container">
            <button class="rounded-0 py-4 btn text-uppercase btn-try-free">
              Try Free
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 py-4 pr-0">
        <div class="container p-3 container-comparison">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="card-comparison">
                <div class="pt-3">
                  <h2
                    class="font-weight-bold small text-uppercase pb-2 text-purple"
                  >
                    Infrastructure
                  </h2>
                  <p>Starting at</p>
                  <p class="price-tag">$15</p>
                  <p>Per host, per month*</p>
                  <p>Centralize your monitoring of systems and services</p>
                  <ul>
                    <li>250+ integrations</li>
                    <li>Out-of-the-box dashboards</li>
                    <li>15-month metric retention</li>
                  </ul>
                </div>
                <div class="pt-3">
                  <p><a class="purple-link" href="#">See Details</a></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4 border-comparison">
              <div class="card-comparison">
                <div class="pt-3">
                  <h2
                    class="font-weight-bold small text-uppercase pb-2 text-green"
                  >
                    APM
                  </h2>
                  <p>Starting at</p>
                  <p class="price-tag">$31</p>
                  <p>Per host, per month*</p>
                  <p>Centralize your monitoring of systems and services</p>
                  <ul>
                    <li>Java, RRuby, Python, Go, Node, and more</li>
                    <li>Out-of-the-box application health dashboards</li>
                    <li>1 million trace events per host included</li>
                  </ul>
                </div>
                <div class="pt-3">
                  <p><a class="green-link" href="#">See Details</a></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="card-comparison">
                <div class="pt-3">
                  <h2
                    class="font-weight-bold small text-uppercase pb-2 text-red"
                  >
                    Logs Management
                  </h2>
                  <p>Starting at</p>
                  <p class="price-tag">$1.27</p>
                  <p>Per host, per month*</p>
                  <p>Analyze and explore log data in context</p>
                  <ul>
                    <li>Collect from any source</li>
                    <li>Automated & custom processing</li>
                    <li>Fully integrated with Infrastructure and APM</li>
                  </ul>
                </div>
                <div class="pt-3">
                  <p><a class="red-link" href="#">See Details</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="card-columns">
        <a href="#" class="card card-apm">
          <div class="card-body">
            <span class="text-uppercase small">APM</span>
            <h2 class="card-title">
              Get full visibility into modern applications
            </h2>
          </div>
        </a>

        <a href="#" class="card card-logs">
          <div class="card-body">
            <span class="text-uppercase small">Logs Management</span>
            <h2 class="card-title">Analyze and explore log data in context</h2>
          </div>
        </a>

        <div class="d-xs-block d-sm-block d-md-none d-lg-none d-xl-none">
          <h3 class="text-center py-4 text-purple">
            Thousands of customers love & trust Datadog
          </h3>
        </div>

        <div class="card card-customers">
          <div class="card-body p-0">
            <div class="row no-gutters">
              <div class="col-12 col-sm-4 customers-first-squares">
                <div class="card-square card-airbnb">
                  <img
                    loading="lazy"
                    class="img-fluid"
                    src="/images/customers/logo-airbnb.png"
                    width="114"
                    height="36"
                    alt="Datadog customer - Airbnb"
                  />
                </div>
                <div class="card-square card-peloton">
                  <img
                    loading="lazy"
                    class="img-fluid"
                    src="/images/customers/logo-peloton.png"
                    width="129"
                    height="39"
                    alt="Datadog customer - Peloton"
                  />
                </div>
              </div>
              <div class="card-square card-adroll col-12 col-sm-8">
                <div class="py-5 px-4">
                  <img
                    loading="lazy"
                    src="/images/customers/logo-adroll.png"
                    width="106"
                    height="19"
                    alt="Datadog customer - AdRoll"
                  />
                  <p class="pt-3">
                    “Datadog has been instrumental in managing our real-time
                    infrastructure, globally distributed in 5 data centers
                    across hundreds of instances, and thousands of different
                    metrics and dimensions for each host. I can't believe there
                    was a time when we didn't have Datadog.”
                  </p>
                  <p>
                    <span class="font-weight-bold">Valentino Volonghi</span
                    ><br /><span class="text-uppercase small"
                      >Chief Technology Officer</span
                    >
                  </p>
                  <p><a class="purple-link" href="#">See More Stories</a></p>
                </div>
              </div>
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-4">
                <div class="card-square card-evernote">
                  <img
                    loading="lazy"
                    class="img-fluid"
                    src="/images/customers/logo-evernote.png"
                    width="276"
                    height="69"
                    alt="Datadog customer - Evernote"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="card-square card-samsung">
                  <img
                    loading="lazy"
                    class="img-fluid"
                    src="/images/customers/logo-samsung.png"
                    width="238"
                    height="37"
                    alt="Datadog customer - Samsung"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="card-square card-nginx">
                  <img
                    loading="lazy"
                    class="img-fluid"
                    src="/images/customers/logo-nginx.png"
                    width="196"
                    height="43"
                    alt="Datadog customer - Nginx"
                  />
                </div>
              </div>
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-4">
                <div class="card-square card-pagerduty">
                  <img
                    loading="lazy"
                    class="img-fluid"
                    src="/images/customers/logo-pagerduty.png"
                    width="258"
                    height="94"
                    alt="Datadog customer - Pagerduty"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="card-square card-whole-foods">
                  <img
                    loading="lazy"
                    class="img-fluid"
                    src="/images/customers/logo-whole-foods.png"
                    width="275"
                    height="49"
                    alt="Datadog customer - Whole Foods"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="card-square card-att">
                  <img
                    loading="lazy"
                    class="img-fluid"
                    src="/images/customers/logo-att.png"
                    width="202"
                    height="83"
                    alt="Datadog customer - AT&T"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <a href="#" class="card card-infrastructure">
          <div class="card-body">
            <span class="text-uppercase small">Infrastructure</span>
            <h2 class="card-title">See across systems, apps, and services</h2>
          </div>
        </a>

        <div class="card card-observability">
          <div class="card-body">
            <div class="obervability-container">
              <div>
                <p>
                  <span
                    class="font-weight-bold small text-uppercase text-purple"
                    >Observability</span
                  >
                </p>
                <h2 class="card-title">
                  With turn-key integrations, Datadog seamlessly aggregates
                  metrics and events across the full devops stack
                </h2>
                <p class="card-text">
                  <a class="purple-link" href="#">Read More</a>
                </p>
              </div>
              <div class="pl-3">
                <a href="#" class="chevron-right">
                  <i
                    class="chevron-right-icon"
                    data-feather="chevron-right"
                  ></i>
                </a>
              </div>
            </div>

            <div class="pt-5">
              <img
                loading="lazy"
                class="img-fluid"
                src="/images/home-observability.png"
                width="440"
                height="268"
                alt="Datadog - Obervability"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
