<div id="nav-border" class="nav-container">
  <nav id="nav" class="nav">
    <div class="logo-container">
      <a href="/" class="navbar-brand">
        <img
          class="img-fluid logo"
          src="/images/dd_logo_v_white.png"
          width="1600"
          height="1600"
          loading="eager"
          alt="Datadog"
        />
      </a>
      <div class="mobile-menu pr-3">
        <a href="javascript:void(0);" class="icon" onclick="toggleNav()">
          <i data-feather="menu"></i>
        </a>
      </div>
    </div>

    <div id="nav-mobile" class="nav-buttons-mobile">
      <div class="d-none d-sm-block pt-4"></div>
      {{ range .Site.Menus.main }}
      <a class="nav-link" href="{{ .URL }}">
        {{ $text := print .Name | safeHTML }} {{ $text }}
      </a>
      {{ end }} {{ range .Site.Menus.extra }}
      <a class="nav-link mt-5" href="{{ .URL }}">
        {{ $text := print .Name | safeHTML }} {{ $text }}
      </a>
      {{ end }}
    </div>
  </nav>
</div>